#header {
    height: 100%;

    .nav {
        display: flex;
        justify-content: space-between;
        font-size: $header-font;
        width: 100%;
        background-color: var(--bg-color);
        overflow: auto;
        white-space: nowrap;

        @media #{$desktop-query} {
            top: 0;
            position: fixed;
            z-index: 1;
        }

        a, p {
            display: inline-block;
            border: none;
            box-shadow: none;
            font-weight: bold;
            color: var(--text-color);

            &:hover {
                color: var(--light-accent);
            }

            &.selected {
                color: var(--accent-color);
            }

            @media #{$tablet-query} {
                padding: 0.3em 1em;
            }
        }
    }
}