.one-post {
  margin-bottom: 2em;
  border: 0px;
  box-shadow: none;
  text-decoration: none;
  font-weight: normal;
  display: flex;
  color: var(--text-color);

  @media #{$mobile-query} {
    flex-direction: column;
  }

  .one-post-date {
    font-family: "PlayfairDisplay", "Georgia", serif;
    margin-right: 2em;

    @media #{$mobile-query} {
      margin-right: 0px;
    }
  }

  .one-post-date-day {
    font-size: 42px;
  }

  .one-post-date-month {
    font-style: italic;
    padding-top: 0.2em;
  }

  header {
    margin-top: 0.7em;
    display: "flex";
    flex-direction: "column";

    .title {
      font: 2em "PlayfairDisplay", "Georgia", serif;
    }

    .subtitle {
      font-weight: normal;
    }
  }
}
