.post {
    text-align: left;
    word-wrap: break-word;
    color: var(--text-color);

    a.before {
        border: 0px;
        box-shadow: none;
        text-decoration: none;
        font-weight: normal;
        stroke: var(--accent-color);
    }

    .post-title {
        font: bold 42px PlayfairDisplay;
        margin-top: 1em;
    }

    .post-subtitle {
        margin-top: 0.5em;
        font-weight: normal;
    }

    .post-date {
        font-family: PlayfairDisplay;
        margin-top: 0.7em;
        margin-bottom: 1.3em;
    }

    .post-content {
        font-size: 1.2em;
        line-height: 1.7;

        p, ul, ol {
            margin-bottom: 0.7em;
        }

        img {
          width: 100%;
        }
    }

    .footnotes hr {
        margin-bottom: 1em;
        margin-top: 1em;
    }
}
