.one-project {
  width: 100%;
  display: flex;

  @media (max-width: 700px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
  }

  .text-box,
  .image-box {
    flex: 1 1 0;
    padding: 1em;
  }

  .text-box {
    @media (max-width: 700px) {
      padding: 0.3em;
    }

    font-family: "Objectivity";
    word-break: break-word;

    .title, .subtitle {
      display: inline;
    }

    .subtitle {
      font-weight: bold;
    }

    .info {
      margin-left: 1em;
    }

    p {
      font-size: 16px;
      padding: 0.5em 0;

      @media (max-width: 700px) {
        padding: auto;
      }
    }
  }

  .image-box {
    @media (max-width: 700px) {
      display: none;
    }

    background-color: var(--bg-color);
    height: 250px;

    .proj-img {
      height: 100%;

      img {
        height: 100%;
        width: auto;
        object-fit: contain !important;
        object-position: center !important;
      }
    }
  }
}
