.project {
    text-align: left;
    color: var(--text-color);

    .project-content {
        font-size: 1.2em;
        line-height: 1.7;

        p, ul, ol {
            margin-bottom: 0.7em;
        }

        img {
          width: 100%;
        }
    }
}
