.project {
    text-align: left;
    color: var(--text-color);

    .project-content {
        font: 1.2em Lora;
        line-height: 1.7;

        p {
            margin-bottom: 0.7em;
        }

        img {
          width: 100%;
        }
    }
}
