$header-font: 1.62em;

$bg-color: #FCFCFF;
$dark-gray: #333333;
$accent-color: #1B9CFC;
$light-accent: #5DA9E9;

$tablet-query: "only screen and (max-width : 1100px)";
$mobile-query: "only screen and (max-width : 800px)";