@import 'fonts';
@import 'variables';
@import 'folders';

body {
    margin: 0;
    background-color: $bg-color;

    * {
        margin: 0;
    }

    a {
        border-bottom: 1px solid $accent-color;
        box-shadow: inset 0 -2px 0px 0px $accent-color;
        font-weight: bold;
        text-decoration: none;
        color: $dark-gray;
    }
}