:root {
  color-scheme: light dark;
  --bg-color: #fcfcff;
  --text-color: #000000;
  --accent-color: #1b9cfc;
  --light-accent: #5da9e9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000000;
    --text-color: #fcfcfc;
  }

  .post img {
      filter: brightness(0.75);
  }
}

@font-face {
    font-family: "Objectivity";
    src: url("/fonts/Objectivity-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Objectivity";
    src: url("/fonts/Objectivity-RegularSlanted.woff2") format("woff2");
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Objectivity";
    src: url("/fonts/Objectivity-Bold.woff2") format("woff2");
    font-display: swap;
    font-weight: bold;
}

@font-face {
    font-family: "Objectivity";
    src: url("/fonts/Objectivity-BoldSlanted.woff2") format("woff2");
    font-display: swap;
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/PlayfairDisplay-Italic.ttf") format("truetype");
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/PlayfairDisplay-Bold.ttf") format("truetype");
    font-display: swap;
    font-weight: bold;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Objectivity", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6, blockquote {
    margin: 0;
}

body a {
    border-bottom: 1px solid var(--accent-color);
    box-shadow: inset 0 -2px 0px 0px var(--accent-color);
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
}

body footer {
    text-align: center;
}

body blockquote {
    border-left: 5px solid var(--accent-color);
    padding-left: 16px;
    max-width: 100%;
}

main {
    margin: 4em auto;
    width: 75%;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--bg-color);
    overflow: auto;
    white-space: nowrap;
    font-size: 26px;
}

nav a {
    display: inline-block;
    border: none;
    box-shadow: none;
}

nav a:hover {
    color: var(--light-accent);
}

nav a:active {
    color: var(--accent-color);
}

p, li {
    font-size: 1.2rem;
    line-height: 1.7;
    font-weight: normal;
}

.page-header h1 {
    font-size: 48px;
    font-weight: bold;
    color: var(--light-accent);
    text-align: center;
    margin: 0px;
    margin-bottom: 0.2em;
    text-transform: uppercase;
}

.page-header h2 {
    margin: 0px;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 42px;
}

.post-item {
    margin-bottom: 2em;
    text-decoration: none;
    display: flex;
    color: var(--text-color);
}

.post-item .date {
    font-family: "Playfair Display", "Georgia", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-item .date .day {
    font-size: 42px;
}

.post-item .date .month {
    font-style: italic;
    padding-top: 0.2em;
    margin: 0px;
    font-size: 16px;
    line-height: 1;
}

.post-item header {
    margin-top: 0.7em;
    display: flex;
    flex-direction: column;
}

.post-item h1,
.post-item h2,
.project-item h2 {
    margin: 0px;
}

.title {
    font: bold 32px "Playfair Display", "Georgia", serif;
    margin-bottom: 0px;
}

.subtitle {
    font-weight: normal;
}

.post {
    word-wrap: break-word;
}

.post .title {
    font-size: 42px;
}

.post .subtitle {
    margin-top: 0.5em;
}

.post .date {
    font-family: "Playfair Display", "Georgia", serif;
    margin-top: 0.7em;
    margin-bottom: 1.3em;
}

.post .content {
    line-height: 1.7;
}

.post .content p,
.post .content ul,
.post .content ol {
    margin: 0px;
    margin-bottom: 0.7em;
}

.post .content h2 {
    font-size: 28.8px;
}

.post .content h3 {
    font-size: 22.4px;
}

.post .content h4 {
    font-size: 19.2px;
}

.post img {
    max-width: 100%;
}

.post .post-notes {
    margin: 0px;
    margin-top: 0.7em;
    font-size: 1em;
}

.project-item {
    width: 100%;
    display: flex;
    word-break: break-word;
}

.project-item > * {
    flex: 1 1;
    padding: 1em;
}

.project-item p {
    font-size: 16px;
}

.project-item .frame {
    height: 250px;
    text-align: center;
}

.project-item img {
    height: 100%;
    width: auto;
}

.highlight > pre {
    word-wrap: normal;
    overflow-x: scroll;
}

.highlight {
    font-size: 1.3rem;
}

/**************************************************************************/
/************************* MOBILE QUERY ***********************************/
/**************************************************************************/
@media only screen and (max-width : 800px) {
    main {
        width: 90%;
        margin: 2em auto;
    }

    .project-item,
    .post-item {
        flex-direction: column;
    }

    .project-item {
        align-items: flex-start;
    }

    .project-item .frame {
        display: none;
    }

    .post img {
        width: 100%;
    }
}

/*****************************************************************************/
/************************** TABLET QUERY *************************************/
/*****************************************************************************/
@media only screen and (max-width : 1100px) {
    nav a {
        padding: 0.3em 1em;
    }
}

/*****************************************************************************/
/*************************** DESKTOP QUERY ***********************************/
/*****************************************************************************/
@media only screen and (min-width: 801px) {
    .page-header h1 {
        margin-top: 2em;
    }

    .post img {
        max-height: 100vh;
    }

    .post-item .date,
    .project-item .date {
        margin-right: 2em;
    }
}
